.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.background {
  viewport-fill: black;
}

.medium-copy-bold {
  fill: white;
  text-anchor: middle;
}
